*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

html, body {
  height: 100%;
  background-color: #fafafa; }

html {
  scroll-behavior: smooth; }

h1 {
  padding: 0;
  margin: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #000; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

button, input {
  outline: none; }

button {
  cursor: pointer; }

textarea {
  resize: none; }

.container {
  max-width: 1110px;
  margin: 0 auto; }

.hidden {
  display: none; }

.icon-svg {
  fill: gray; }

.header {
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
     -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08); }

.header__container {
  padding: 30px 41px 38px 23px;
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logo {
  font-size: 22px;
  font-weight: 900;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: 1.76px;
  line-height: 1; }

.header__search {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 468px;
  height: 46px;
  border: 2px solid #f5f5f5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px; }

.header__search-input-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 278px; }

.header__search-input {
  padding: 0 20px;
  width: 100%;
  height: 46px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.143;
  border: 2px solid #f5f5f5;
  color: #000; }
  .header__search-input::-webkit-input-placeholder {
    color: #b3b3b3; }
  .header__search-input:-moz-placeholder {
    color: #b3b3b3; }
  .header__search-input::-moz-placeholder {
    color: #b3b3b3; }
  .header__search-input:-ms-input-placeholder {
    color: #b3b3b3; }
  .header__search-input::-ms-input-placeholder {
    color: #b3b3b3; }
  .header__search-input::placeholder {
    color: #b3b3b3; }

.header__search-dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 142px;
  border-right: 2px solid #f5f5f5;
  cursor: pointer; }

.header__search-btn-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.header__search-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none; }

.header__nav {
  border-top: 2px solid #f5f5f5; }

.header-select__title {
  position: relative;
  font-size: 10px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  color: #b3b3b3; }
  .header-select__title::after {
    content: '';
    display: block;
    position: absolute;
    right: -15px;
    top: 50%;
    width: 8px;
    height: 5px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url(../img/header/arrow-icon.svg); }

.header-select__dropdown {
  position: absolute;
  top: 100%;
  left: -2px;
  right: -2px;
  border: 2px solid #f5f5f5;
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  background-color: #fff; }

.header-select__dropdown-item {
  padding-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  font-size: 13px;
  font-weight: 500;
  border-bottom: 2px solid #f5f5f5;
  color: gray;
  line-height: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }
  .header-select__dropdown-item:last-child {
    border-bottom: none; }
  .header-select__dropdown-item:hover {
    background-color: #f1f1f1; }

.header-select.header-select--nav {
  padding: 0 28px; }
  .header-select.header-select--nav .header-select__title {
    width: auto;
    font-size: 14px;
    font-weight: 500;
    color: #b3b3b3;
    line-height: 1;
    text-transform: none; }

.header__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__link {
  margin-right: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease; }
  .header__link:hover {
    color: #1875f0; }
    .header__link:hover .icon-svg {
      fill: #1875f0; }
  .header__link:last-child {
    margin-right: 0; }

.header__link-icon {
  margin-right: 18px;
  position: relative; }

.header__link--notify .header__link-icon::after {
  content: '';
  position: absolute;
  top: -8px;
  right: -7px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background-color: #1875f0; }

.header__link-text {
  font-weight: 500;
  line-height: 2.143; }

.header-nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1110px;
  height: 60px;
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5; }

.header-nav__categories {
  border-right: 2px solid #f5f5f5; }

.header-nav__deals {
  padding: 0 38px;
  border-right: 2px solid #f5f5f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.header-nav__link {
  margin-right: 35px;
  font-weight: 500;
  color: gray;
  line-height: 1;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease; }
  .header-nav__link:last-child {
    margin-right: 0; }
  .header-nav__link:hover {
    color: #1875f0; }

.header-nav__select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.header-nav__select-item {
  border-right: 2px solid #f5f5f5; }
  .header-nav__select-item:last-child {
    border-right: none; }

.header-big-menu-link {
  padding: 0 40px 0 30px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease; }
  .header-big-menu-link:hover svg {
    fill: #1875f0; }
  .header-big-menu-link:hover .header-big-menu-link_text {
    color: #1875f0; }

.header-big-menu-link_icon {
  margin-right: 22px;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease; }

.header-big-menu-link_text {
  font-weight: 500;
  color: gray;
  line-height: 1; }

.nav-dropdown {
  padding: 0 28px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer; }

.nav-dropdown__title {
  position: relative;
  width: auto;
  font-size: 14px;
  font-weight: 500;
  color: #b3b3b3;
  line-height: 1; }

.nav-dropdown__title-icon {
  content: '';
  display: block;
  font-size: 0;
  position: absolute;
  right: -15px;
  top: 50%;
  width: 8px;
  height: 5px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%); }
  .nav-dropdown__title-icon svg {
    fill: #b3b3b3; }

.nav-dropdown__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -2px;
  right: -2px;
  border: 2px solid #f5f5f5;
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  background-color: #fff; }

.nav-dropdown svg {
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease; }

.nav-dropdown:hover .nav-dropdown__title {
  color: #1875f0; }
.nav-dropdown:hover svg {
  fill: #1875f0;
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg); }
.nav-dropdown:hover .nav-dropdown__dropdown {
  display: block; }

.nav-dropdown__dropdown-item a {
  padding-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  font-size: 13px;
  font-weight: 500;
  border-bottom: 2px solid #f5f5f5;
  color: gray;
  line-height: 1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }
  .nav-dropdown__dropdown-item a:last-child {
    border-bottom: none; }
  .nav-dropdown__dropdown-item a:hover {
    background-color: #f1f1f1; }

.slider {
  margin-bottom: 30px; }

.carousel__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 330px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2))), url(../img/slider/carousel-item-1.jpg);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0% rgba(0, 0, 0, 0) 100%), url(../img/slider/carousel-item-1.jpg);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0% rgba(0, 0, 0, 0) 100%), url(../img/slider/carousel-item-1.jpg);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0% rgba(0, 0, 0, 0) 100%), url(../img/slider/carousel-item-1.jpg);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0% rgba(0, 0, 0, 0) 100%), url(../img/slider/carousel-item-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
       background-size: cover; }

.carousel__item-title {
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 300;
  color: white;
  line-height: 1; }

.carousel__item-text p {
  font-size: 14px;
  line-height: 2.14;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.502); }

.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  -webkit-border-radius: 35px !important;
     -moz-border-radius: 35px !important;
          border-radius: 35px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  -moz-background-size: 20px, 21px !important;
       background-size: 20px, 21px !important; }
.owl-carousel .owl-nav .owl-prev {
  left: 80px;
  background-image: url(../img/slider/arrow-left-icon.svg) !important;
  z-index: 10; }
.owl-carousel .owl-nav .owl-next {
  right: 80px;
  background-image: url(../img/slider/arrow-right-icon.svg) !important; }

.owl-dots {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%); }
  .owl-dots .owl-dot span {
    width: 68px !important;
    height: 2px !important;
    background-color: rgba(255, 255, 255, 0.3) !important; }
  .owl-dots .owl-dot.active span {
    background-color: white !important; }

/*# sourceMappingURL=main.css.map */