// Navigation text 

@mixin text-nav-medium {
    color: rgb(128, 128, 128);
    line-height: 1;
}

@mixin text-nav-lite {
    color: rgb(179, 179, 179);
    line-height: 1;
}


// LINKS
@mixin grey-link {
    line-height: 2.14;
    color: rgba(255, 255, 255, 0.502);
    transition: all .3s ease;

    &:hover {
        color: $blue;
    }
}

@mixin dark-grey-link {
    line-height: 2.14;
    color:  rgb(179, 179, 179);
    transition: all .3s ease;

    &:hover {
        color: $blue;
    }
}

// ELEMENTS  

@mixin card {
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
}