*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

*::selection {
 
}

html, body {
    height: 100%;
    background-color: $background;
}

html {
    scroll-behavior: smooth;
}

h1 {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button, input {
    outline: none;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.hidden {
    display: none;
}


.icon-svg {
    fill: rgb(128, 128, 128);
}


// Styles for Active class for icons 

.shop__item-icon-hart.active {
    fill: red;
}


