

.header-select__title {
    position: relative;
    font-size: 10px;
    line-height: 1;
    font-weight: 900; 
    text-transform: uppercase;
    letter-spacing: 1.25px;
    color: rgb(179, 179, 179);

    &::after {
        content: '';
        display: block;
        position: absolute; 
        right: -15px;
        top: 50%;
        width: 8px;
        height: 5px;
        transform: translateY(-50%);
        background-image: url(../img/header/arrow-icon.svg);
    }

}

.header-select__dropdown {
    position: absolute;
    top: 100%;
    left: -2px;
    right: -2px;
    border: $border;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
}


.header-select__dropdown-item {
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 13px;
    font-weight: 500;
    border-bottom: $border;
    color: rgb(128, 128, 128);
    line-height: 1;
    transition: all .3s ease;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: #f1f1f1;
    }
}


.header-select.header-select--nav {
    padding: 0 28px;
    .header-select__title {
        width: auto;
        @include text-nav-lite;
        text-transform: none;
    }
}


  
